.post-item{
    position: relative;
}

.post-item::after{
    content: '';
    border-radius: 30px;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    transform: scaleY(0);
    transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
    background-color: rgb(216, 216, 216);
    transform-origin: center;
    z-index: -1;
}

.post-item:hover::after{
    transform: scaleY(1);
}